{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    {{ include("/partials/title_section.html.twig", {'name': 'Home page'}) }}
    <div class="container">
        <h1>Hello all</h1>
    </div>
{% endblock %}
